body{
  background-color: lightblue;
}

.Meny {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: red;
}

.MenyItem {
  float: left;
}

.MenyLink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.MenyLink:hover {
  background-color: black;
}

.tabell {
  margin-left: auto;
  margin-right: auto;
}

.tabell2 {
  padding: 30px;
}
