body{
  background-color: lightblue;
}

.Meny {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.MenyItem {
  float: left;
}

.MenyLink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.MenyLink:hover {
  background-color: black;
}

.active{
  background-color: black;
}

.position1 {
  position: relative;
}
